.b_dialogs {
    padding: 15px 20px;
    
    &__title {
        min-width: 100%;
        flex-basis: 100%;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        grid-area: header;
        font-weight: 300;
    }
    
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                'header header header'
                'sidebar main main';
    }
    
    &__list_wrap {
        grid-area: sidebar;
    }
    
    &__conversation_wrap {
        grid-area: main;
    }
    
    &__list_contact {
    
    }
    
    &__list_item {
        padding-bottom: $bdrs-standart;
    }
    
    &__list_link {
        display: block;
        background-color: rgba($color4, .4);
        padding: 10px;
        margin-right: 20px;
        border-radius: 5px;
        color: black;
        transition: $trsn-main;
        
        &.m-active {
            margin-right: 0;
            font-weight: bold;
        }
    }
    
    &__conversation {
        padding-left: 20px;
    }
    
    &__new-msg {
    
    }
    
    &__textarea {
        margin-bottom: 10px;
    }
}

.b_message {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
    
    &.m-my {
        padding-left: 20px;
    }
    
    &__thumbnail {
        margin-bottom: 5px;
    }
    
    &__thumbnail_img {
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
    }
    
    &__thumbnail_name {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    
    &__msg {
        padding-top: 10px;
        font-style: italic;
    }
}
