
.l_main {
    &_container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 10px 0 30px;
        display: grid;
        grid-template-rows: 60px 1fr;
        grid-template-columns: 2fr 10fr;
        grid-gap: 10px;
        grid-template-areas:
                "header header"
                "sidebar content";
    }
    
    &_header {
        grid-area: header;
        background: $color1;
        border-radius: $bdrs-block;
    }
    
    &_aside { 
        grid-area: sidebar;
        border-radius: $bdrs-block;
        background-color: rgba($color2, .4);
    }
    
    &_wrap {
        grid-area: content;
        border-radius: $bdrs-block;
        background-color: rgba($color3, .4);
    }
}