.l_main {
    &_container {
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 60px 1fr;
        grid-template-columns: 2fr 10fr;
        grid-gap: 10px;
        grid-template-areas:
                "header header"
                "sidebar content";
    }
    
    &_header {
        grid-area: header;
        
        border: 1px solid #000;
    }
    
    &_aside {
        grid-area: sidebar;
    
        background-color: blue;
    }
    
    &_wrap {
        grid-area: content;
    
        border: 1px solid #000;
    }
}