

.b_profile {
    &_head {
        height: 150px;
        border-radius: $bdrs-block $bdrs-block 0 0;
        overflow: hidden;
        
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &_info {
        display: flex;
        padding: 20px;
        
        &__wrap {
        
        }
        
        &__figure {
            margin-right: 20px;
        }
        
        &__name {
            margin-bottom: 15px;
        }
        
        &_list {
            &__item {
                display: block;
                padding: 3px 0;
            }
        }
        
    }
    
    &_info__figure {
        width: 100px;
        height: 100px;
    }
    
    &_info__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
