
.l_users {
    padding: 20px;
}

.b-users {
    &_list {
        padding-top: 15px;
    }
}

.b-user {
    display: flex;
    background: rgba($positive, .2);
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &_thumnail {
        flex: 0 1 50px;
        margin-right: 20px;
        text-align: center;
    }
    
    &_thumnail-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    &_thumnail-follow {
        font-size: 10px;
        line-height: 1.2em;
    }
    
    &_info {
        flex-grow: 1;
        display: grid;
        grid-template-areas:
                'info-name infolocation'
                'info-name infostatus';
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 85% 1fr;
        grid-column-gap: 10px;
        font-size: 14px;
        line-height: 1.2em;
    }
    
    &_info-name {
        grid-area: info-name;
        padding: 10px 0 0;
    }
    
    &_info-status {
        grid-area: infostatus;
    }
    
    &_info-location {
        grid-area: infolocation;
    }
}

