// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027be3;
$secondary : #26A69A;
$tertiary  : #555;

$neutral   : #E0E1E2;
$positive  : #21BA45;
$negative  : #DB2828;
$info      : #31CCEC;
$warning   : #F2C037;


// $gradient1
$color1  : #de4fdb;
$color2  : #A255FF;


// $gradient2
$color3  : #FFA50B;
$color4  : #FF4081;

// $gradient3
$color5  : #F2BA00;
$color6  : #1CBF44;

// $gradient4
$color7  : #15CF6F;
$color8  : #2196F3;

// $gradient5
$color9  : #14C7C8;
$color10 : #3480E5;

// $gradient6
$color11 : #F261DA;
$color12 : #28B5F2;

// $gradient7
$color13 : #FF5353;
$color14 : #C222CE;


